{{title}}
<main>
  <form action="">
    <div id="signInForm">
      <input type="text" placeholder="email" name="emailInput" id="emailInput">
      <input type="password" placeholder="password" name="passwordInput" id="passworkInput">
      <button href="#" name="signUpBtn" id="signUpBtn">Sign Up</button>
      <button href="#" name="logInBtn" id="logInBtn">Log In</button>
    </div>
    <div id="tweetForm">
      <input type="text" placeholder="Tweet Something!">
      <button href="#" id="tweetBtn">Tweet</button>
    </div>
  </form>
  <h2>dfgfgdfg</h2>
</main>
