{{title}}
{{#if name}}
{{this}}
{{/if}}
<main>
  <form method="post" action="/users/signup">
    <div id="signInForm" class="demo-card-wide mdl-card mdl-shadow--2dp">
      <input type="text" placeholder="name" name="name" id="nameInput">
      <input type="text" placeholder="email" name="email" id="emailInput">
      <input type="password" placeholder="password" name="password" id="passwordInput">
      <button name="signUpBtn" id="signUpBtn">Sign Up</button>
      <button name="logInBtn" id="logInBtn">Log In</button>
    </div>
  </form>
  <form>
    <div id="tweetForm" class="demo-card-wide mdl-card mdl-shadow--2dp">
      <input type="text" placeholder="Tweet Something!" id="tweetInput" name="tweetInput">
      <button href="#" id="tweetBtn" name="tweetBtn">Tweet</button>
    </div>
  </form>
</main>
