<header>
  <h2>Twitter-Placeholder</h2>
  <h3>Most recent tweet: </h3>
  <div id="recentTweet">
    {{title}}
  </div>
</header>
  <form method="post" action="/twitter">
  <div id="tweetForm" class="demo-card-wide mdl-card mdl-shadow--2dp">
    <input type="text" placeholder="Tweet Something!" id="tweetInput" name="tweetInput" maxlength="140">
    <button href="#" id="tweetBtn" name="tweetBtn">Tweet</button>
  </div>
</form>
