body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#signInForm {
  width: 500px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

#signInForm input {
  width: 450px;
}

#signInForm button {
  width: 210px;
}
