body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #D1C4E9;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signInForm {
  width: 500px;
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

#signInForm input {
  width: 450px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 23px;
}

#signInForm button {
  width: 100px;
  margin-right: 30px;
}

#tweetForm {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  /*display:none;*/
}

#tweetInput {
  width: 450px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 56px;
}
#tweetBtn {
margin-bottom: 10px;
}
